
# Company Verification

## Structure

`CompanyVerification`

## Fields

| Name | Type | Tags | Description | Getter | Setter |
|  --- | --- | --- | --- | --- | --- |
| `documentDescription` | `?string` | Optional | - | getDocumentDescription(): ?string | setDocumentDescription(?string documentDescription): void |
| `documentNumber` | `?string` | Optional | - | getDocumentNumber(): ?string | setDocumentNumber(?string documentNumber): void |
| `documentType` | `?string` | Optional | - | getDocumentType(): ?string | setDocumentType(?string documentType): void |
| `expiryDate` | `?\DateTime` | Optional | - | getExpiryDate(): ?\DateTime | setExpiryDate(?\DateTime expiryDate): void |
| `issueDate` | `?\DateTime` | Optional | - | getIssueDate(): ?\DateTime | setIssueDate(?\DateTime issueDate): void |
| `issuingAgency` | `?string` | Optional | - | getIssuingAgency(): ?string | setIssuingAgency(?string issuingAgency): void |
| `issuingCountry` | `?string` | Optional | - | getIssuingCountry(): ?string | setIssuingCountry(?string issuingCountry): void |
| `issuingState` | `?string` | Optional | - | getIssuingState(): ?string | setIssuingState(?string issuingState): void |
| `metWith` | `?string` | Optional | - | getMetWith(): ?string | setMetWith(?string metWith): void |
| `locationType` | `?string` | Optional | - | getLocationType(): ?string | setLocationType(?string locationType): void |
| `evidenceOfLegalStatus` | `?string` | Optional | - | getEvidenceOfLegalStatus(): ?string | setEvidenceOfLegalStatus(?string evidenceOfLegalStatus): void |
| `primary` | `?bool` | Optional | - | getPrimary(): ?bool | setPrimary(?bool primary): void |
| `verificationMethodRaw` | `?string` | Optional | - | getVerificationMethodRaw(): ?string | setVerificationMethodRaw(?string verificationMethodRaw): void |
| `siteVisitDate` | `?\DateTime` | Optional | - | getSiteVisitDate(): ?\DateTime | setSiteVisitDate(?\DateTime siteVisitDate): void |
| `docValidationType` | `?string` | Optional | - | getDocValidationType(): ?string | setDocValidationType(?string docValidationType): void |
| `nonDocValidationType` | `?string` | Optional | - | getNonDocValidationType(): ?string | setNonDocValidationType(?string nonDocValidationType): void |

## Example (as JSON)

```json
{
  "documentDescription": null,
  "documentNumber": null,
  "documentType": null,
  "expiryDate": null,
  "issueDate": null,
  "issuingAgency": null,
  "issuingCountry": null,
  "issuingState": null,
  "metWith": null,
  "locationType": null,
  "evidenceOfLegalStatus": null,
  "primary": null,
  "verificationMethodRaw": null,
  "siteVisitDate": null,
  "docValidationType": null,
  "nonDocValidationType": null
}
```

