
# Company Verification

## Structure

`CompanyVerification`

## Fields

| Name | Type | Tags | Description |
|  --- | --- | --- | --- |
| `document_description` | `string` | Optional | - |
| `document_number` | `string` | Optional | - |
| `document_type` | `string` | Optional | - |
| `expiry_date` | `datetime` | Optional | - |
| `issue_date` | `datetime` | Optional | - |
| `issuing_agency` | `string` | Optional | - |
| `issuing_country` | `string` | Optional | - |
| `issuing_state` | `string` | Optional | - |
| `met_with` | `string` | Optional | - |
| `location_type` | `string` | Optional | - |
| `evidence_of_legal_status` | `string` | Optional | - |
| `primary` | `bool` | Optional | - |
| `verification_method_raw` | `string` | Optional | - |
| `site_visit_date` | `datetime` | Optional | - |
| `doc_validation_type` | `string` | Optional | - |
| `non_doc_validation_type` | `string` | Optional | - |

## Example (as JSON)

```json
{
  "documentDescription": null,
  "documentNumber": null,
  "documentType": null,
  "expiryDate": null,
  "issueDate": null,
  "issuingAgency": null,
  "issuingCountry": null,
  "issuingState": null,
  "metWith": null,
  "locationType": null,
  "evidenceOfLegalStatus": null,
  "primary": null,
  "verificationMethodRaw": null,
  "siteVisitDate": null,
  "docValidationType": null,
  "nonDocValidationType": null
}
```

